<div id="chatroom" class="card p-4">

  <div id="messages" class="border rounded p-3">
    <ul class="list-unstyled">
      <li>
        Start chat ...
        <!-- <br>posted <span class="date">10 minutes ago</span> by John -->
      </li>
    </ul>
  </div>

  <form action="#" id="comment-form">
    <div class="form-group">
<!--       <label for="your-message">Chat</label> -->
      <textarea type="text" name="content" id="your-message" class="form-control" placeholder="Enter message ..."></textarea>
    </div>
    <input type="submit" value="Send message" class="btn btn-info w-100">
  </form>

</div>
