.card-image-show{
  border-radius: 10px;
  min-height: 400px;
  width: 850px;
  background-size: cover;
  // background-position: center;
  border: 1px solid black;
}

.card-content{
  padding-top: 20px;
  border-top: 1px solid rgb(180, 180, 180);;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin: 20px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
