.form-login {
  background: white;
  padding: 24px;
  margin: 10px auto 14px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  a {
    color: $warning;
  }
}
