.navbar-lewagon {
  justify-content: space-between;
  background: rgb(100, 223, 223);
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
