.navbar-lewagon {
  justify-content: space-between;
  background: rgb(100, 223, 223);
  height: 60px;
  #navbar-title {
    color: rgb(254, 249, 138);
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#search-navbar {
  width: 500px;
  margin-left: 50px;
  .form-control {
    width: 150px;
    border-radius: 20px;
  }
}
